:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  width: 500px;
  background-color: #302F58;
}

.hidden {
  display: none;
}

label {
  color: white;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  border-radius: 25px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #e5f2f2;
}

button:disabled:hover {
  background-color: red;
  cursor: not-allowed;
}

button:hover {
  background-color: #007712;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

hr.line {
  border-top: 1px solid white;
}

h1 {
  color: white;
  margin-top: 1em;
}

p {
  color: white;
}

a {
  color: white;
}

.word-info {
  max-width: fit-content;
  position: center;
}

.example-sentence {
  font-size: 1em;
  text-indent: 3px;
  padding: 5px;
  margin: 0.5em 1;
  border: 2px solid #ccc;
  margin-top: 1em;
  width: 480px;
}

.dropdown {
  width: 200px;
}

.kanji {
  font-size: 35px;
  margin: 5px 1px 0px 40px;
}

.readings {
  font-size: 15px;
  margin: 5px 1px 0px 40px;
}

.tags {
  font-size: 15px; 
  color: #00beb6; 
  margin: 5px 3px;
}

.tag-list {
  font-size: 1.2rem; 
  margin-bottom: 10px;
}

.add-button {
  display:block;
}

.update-button {
  display:none;
}