:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  width: 500px;
  background-color: #302F58;
  color: white;
}

label {
  color: white;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  border-radius: 25px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #e5f2f2;
}

button:disabled:hover {
  background-color: red;
  cursor: not-allowed;
}

button:hover {
  background-color: #007712;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

hr.line {
  border-top: 1px solid white;
}

p {
  margin: 0px;
}

a {
  color: white;
}

.hidden {
  display: none;
}

.word-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.example-sentence {
  font-size: 1em;
  text-indent: 3px;
  padding: 5px;
  margin-top: 1em;
  border: 2px solid #ccc;
  width: 480px;
}

.dropdown {
  width: 200px;
}

.kanji {
  font-size: 35px;
}

.readings {
  font-size: 20px;
}

.tags {
  font-size: 15px; 
  color: #00beb6; 
}

#add-button {
  display: block;
}

#update-button {
  display: none;
}

#status-message {
  display: hidden;
  opacity: 0;
  margin-bottom: 10px;
}

#status-message.visible {
  display: block;
  opacity: 1;
}